.market-container {
  padding: 20px;

  h2 {
    margin-bottom: 20px;
    color: #d1d4dc;
  }
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}