.market-container {
  padding: 20px;

  h2 {
    margin-bottom: 20px;
    color: var(--mat-sys-on-surface);
    transition: color 0.3s ease;
  }
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}