<div class="search-bar-container">
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Search Cryptocurrency</mat-label>
    <input
      matInput
      [formControl]="tickerControl"
      (keydown.enter)="onSearch()"
      placeholder="Enter ticker (e.g., BTC, Bitcoin, BTCUSDT, ETH, Ethereum)"
      autocomplete="off"
    />
    <mat-icon matPrefix>search</mat-icon>
    <button matSuffix mat-icon-button (click)="onSearch()">
      <mat-icon>arrow_forward</mat-icon>
    </button>
    @if (errorMessage) {
      <mat-error class="search-error">{{ errorMessage }}</mat-error>
    }
  </mat-form-field>
</div>
